.car-Introduction-Comfortable{
    max-width: 960px;
    height: 776px;
    margin: auto;
    position: relative;

    margin-top: 120px;
}

.car-Introduction-Comfortable .car img{
    width: 695px;
    height: 430px;
    position: absolute;
    top: 100px;
    left: 175px;
    /* position: relative; */
}
.car-Introduction-Comfortable .car{
    display: flex;
    justify-content: center;
}
.car-Introduction-Comfortable .car , .play:hover{
    cursor: pointer;
}

.car-Introduction-Comfortable .Comfortable{
    width: 355px;
    height: 388px;
    background-color: black;
    position: relative;
    z-index: 2;
}
.car-Introduction-Comfortable .Comfortable .title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 355px;
    height: 100px;
}
.car-Introduction-Comfortable .Comfortable .title h1{
    font-size: 100px;
    color: white;
}
.car-Introduction-Comfortable .Comfortable .title h2{
    font-size: 60px;
    color: white;
}
.car-Introduction-Comfortable .Comfortable .txt h3{
    font-size: 25px;
    color: white;
    padding: 30px 20px 10px;
}
.car-Introduction-Comfortable .Comfortable .txt p{
    font-size: 20px;
    color: white;
    padding: 5px 20px;
    line-height: 35px;
}

.car-Introduction-Comfortable .blank{
    width: 439px;
    height: 290px;
    background-color: whitesmoke;
    position: absolute;
    top: 50px;
    right: 0;
}

.car-Introduction-Comfortable .play{
    position: absolute;
    top: 300px;
    right: 80px;
}

.car-Introduction-Comfortable .Introduction{
    width: 682px;
    height: 275px;
    background-color: whitesmoke;
    z-index: 2;
    position: relative;
    top: 110px;
    left: 50px;
}
.car-Introduction-Comfortable .Introduction h3{
    font-size: 18px;
    color: rgb(172, 13, 13);
    padding: 20px;
}
.car-Introduction-Comfortable .Introduction h3::after{
    content: ' ————————————————————————';
}
.car-Introduction-Comfortable .Introduction h4{
    font-size: 15px;
    color: white;
    background-color: black;
    width: 130px;
    text-align: center;
    padding: 5px 0px;
    border-radius: 5px;
    letter-spacing: 2px;
    margin-left: 20px;
}
.car-Introduction-Comfortable .Introduction p{
    margin-left: 15px;
    padding: 5px 10px;
}
.car-Introduction-Comfortable .Introduction p::before{
    content: '．';
}