.car-Introduction-people{
    max-width: 960px;
    height: 654px;
    margin: auto;
    position: relative;
    margin-top: 100px;
}
.car-Introduction-people .car img{
    width: 695px;
    height: 430px;
    position: absolute;
    top: 100px;
    left: 5px;
}
.car-Introduction-people .car{
    display: flex;
    justify-content: center;
}
.car-Introduction-people .car , .play:hover{
    cursor: pointer;
}

.car-Introduction-people .people{
    width: 355px;
    height: 388px;
    background-color: black;
    position: relative;
    z-index: 2;
    left: 605px;
}
.car-Introduction-people .people .title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 355px;
    height: 100px;

}
.car-Introduction-people .people .title h1{
    font-size: 100px;
    color: white;
}
.car-Introduction-people .people .title h2{
    font-size: 60px;
    color: white;
}
.car-Introduction-people .people.txt h3{
    font-size: 25px;
    color: white;
    padding: 30px 20px 10px;
}
.car-Introduction-people .people .txt p{
    font-size: 20px;
    color: white;
    padding: 5px 20px;
    line-height: 35px;
}

.car-Introduction-people .blank{
    width: 518px;
    height: 413px;
    background-color: whitesmoke;
    position: absolute;
    top: 50px;
    right: 180px;
}

.car-Introduction-people .play{
    position: absolute;
    top: 300px;
    left: 0px;
}

.car-Introduction-people .Introduction{
    width: 682px;
    height: 200px;
    background-color: whitesmoke;
    z-index: 2;
    position: relative;
    top: 110px;
    left: 280px;
}
.car-Introduction-people .Introduction h3{
    font-size: 18px;
    color: rgb(172, 13, 13);
    padding: 20px;
}
.car-Introduction-people .Introduction h3::after{
    content: ' ————————————————————————';
}
.car-Introduction-people .Introduction h4{
    font-size: 15px;
    color: white;
    background-color: black;
    width: 150px;
    text-align: center;
    padding: 5px 0px;
    border-radius: 5px;
    letter-spacing: 2px;
    margin-left: 20px;
}
.car-Introduction-people .Introduction p{
    margin-left: 10px;
    padding: 5px 5px;
}
.car-Introduction-people .Introduction p::before{
    content: '．';
}