.service h2{
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.service .service-introduction .item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.service .service-introduction .item .item-pic i{
    color: rgb(0, 183, 255);
    font-size: 40px;
}
.service .service-introduction .item-txt h3{
    margin: 20px 0px;
    text-align: center;
}
.service .service-introduction .item-txt p{
    text-align: center;
    font-size: 18 px;
    margin: 0px 10px;
    color: gray;
}

@media screen and (min-width: 768px){
    .service h2{
        font-size: 30px;
        text-align: center;
        margin-top: 100px;
        margin-bottom: 20px;
    }
    .service .service-introduction{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .service .service-introduction .item{
        width: 30.7291666666%;
        margin: 0px 1.30208333333%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        /* justify-content: center; */
        margin: 20px 0px;
    }


    .service .service-introduction .item-txt h3{
        margin: 20px 0px;
        text-align: left;
        margin-left: 10px;
    }
    .service .service-introduction .item-txt p{
        text-align: left;
        font-size: 18 px;
        color: gray;
    }

    @media screen and (min-width: 1200px){
        .service h2{
            font-size: 30px;
            text-align: center;
            margin-top: 100px;
            margin-bottom: 20px;
        }
        .service .service-introduction{
            display: flex;
            flex-wrap: wrap;
        }
        .service .service-introduction .item .item-pic i{
            color: rgb(0, 183, 255);
            font-size: 60px;
        }
        .service .service-introduction .item{
            width: 30.7291666666%;
            margin: 0px 1.30208333333%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 20px 0px;
            font-size: 20px;
        }
        
        .service .service-introduction .item-txt{
            padding-left: 30px;
            padding-right: 50px;
            line-height: 30px;
        }
        .service .service-introduction .item-txt h3{
            margin: 20px 0px;
            text-align: left;
            margin-left: 10px;
            font-size: 20px;
        }
        .service .service-introduction .item-txt p{
            text-align: left;
            font-size: 18 px;
            color: gray;
        }
    
    }   